<section>
  <h1>Spel</h1>
  <div class="d-flex">
    <div>
      <a href="/admin/games/new">
        <button href="" class="">Nytt spel</button>
      </a>
    </div>
  </div>
  <table class="table table-striped mt-1">
    <thead>
      <tr>
        <th>Id</th>
        <th>Titel</th>
        <th>Genre</th>
        <th>Lanseringsår</th>
      </tr>
    </thead>
    <tbody>
      <% games.forEach(game => { %>
      <tr>
        <td><%=game.id%></td>
        <td><%=game.title%></td>
        <td><%= game.name %></td>
        <td><%=game.release_date.getFullYear() %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</section>
