<section class="newGameFlexBox">
  <h1 class="topMarginOneEm leftMarginOneEm">Nytt spel</h1>
  <form method="post">
    <div class="topMarginOneEm leftMarginOneEm">
      <label for="title">Titel</label>
    </div>
    <div class="leftMarginOneEm">
      <input type="text" name="title" />
    </div>
    <div class="topMarginOneEm leftMarginOneEm">
      <label for="description">Beskrivning</label>
    </div>
    <div class="leftMarginOneEm">
      <textarea name="description" cols="40" rows="5"></textarea>
    </div>
    <div class="topMarginOneEm leftMarginOneEm">
      <label for="imageUrl">Bild</label>
    </div>
    <div class="leftMarginOneEm">
      <input type="text" name="imageUrl" />
    </div>
    <div class="topMarginOneEm leftMarginOneEm">
      <label for="genre">Genre</label>
    </div>
    <div class="leftMarginOneEm">
      <select name="genre" id="">
        <% games.forEach(genre => { %>
        <option value="<%=genre.genre_id%>"><%=genre.name%></option>
        <% }) %>
      </select>
    </div>
    <div class="topMarginOneEm leftMarginOneEm">
      <label for="releaseDate">Lanseringsår</label>
    </div>
    <div class="leftMarginOneEm">
      <input type="date" name="releaseDate" />
    </div>
    <div class="topMarginOneEm leftMarginOneEm">
      <button href="/admin/games">Lägg till</button>
    </div>
  </form>
</section>
