<section class="newGameFlexBox">
  <h1 class="topMarginOneEm leftMarginOneEm">Nytt highscore</h1>
  <form method="post">
    <div class="leftMarginOneEm">
      <label for="game">Spel</label>
    </div>
    <div class="leftMarginOneEm">
      <select name="gameId">
        <% games.forEach(game => { %>
        <option value="<%= game.id %>"><%= game.title %></option>
        <% } ) %>
      </select>
    </div>
    <div class="topMarginOneEm leftMarginOneEm">
      <label for="player">Spelare</label>
    </div>
    <div class="leftMarginOneEm">
      <input type="text" name="player" />
    </div>
    <div class="topMarginOneEm leftMarginOneEm">
      <label for="date">Datum</label>
    </div>
    <div class="leftMarginOneEm">
      <input type="date" name="date" />
    </div>
    <div class="topMarginOneEm leftMarginOneEm">
      <label for="score">Poäng</label>
    </div>
    <div class="leftMarginOneEm">
      <input type="number" name="score" />
    </div>
    <div class="topMarginOneEm leftMarginOneEm">
      <button>Lägg till</button>
    </div>
  </form>
</section>
